.container--footer-am2 {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.hr--footer-am2 {
  margin-top: 90px;
  margin-bottom: 70px;
  border-color: black;
  border-width: 1px;
  opacity: 100%;
  width: 80vw;
}

.text--footer-am2 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(122, 122, 122);
  line-height: 21px;
}

.text--footer-am2 a {
  text-decoration: none;
  color: black;
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
}

.text--footer-am2 a:hover {
  text-decoration: none;
  color: rgb(63, 63, 63);
}

.text--footer-am2 a img {
  height: 16px;
  margin-right: 3px;
}

.text--footer-am2 a:hover img {
  height: 16px;
  margin-right: 3px;
  opacity: 80%;
}

.container-text--footer-am2 {
  max-width: 75vw;
}