.title--page-title-am2 {
  font-weight: 300;
  font-size: 28;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container--page-title-am2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.hr--page-title-am2 {
  margin: 0px;
}